<h2>Index: Your Reported Incidents</h2>
    <ul>
    <% if @victim.incidents.present? %>
        <% @victim.incidents.each do |incident| %>
          <li>
            Location: <%= incident.location %><br>
            Occurred: <%= incident.time_occurred %><br>
            Request Translator: <%= incident.request_translator %><br>
            Volunteer Contact Status: <%= incident.contact_status %><br>
            Preferred Langauge: <%= incident.language %><br>
            Description:  <%= incident.description %><br>
            <%# Volunteer (if applicable): <%= incident.find_volunteer.name %> 
            <%# ##### ISSUE %>
            <%= link_to "View Incident", [@victim, incident] %><br>

          </li>
        <% end %>
      <% else %>
        <li>No Reports Created</li>
            <%= link_to "Create a new Incident", new_victim_incident_path(@victim) %>
      <% end %> 
    </ul>


