<h2>Your Reported Incident</h2>
    <ul>
    <%byebug%>
    <% if @incident.present? %>
            Location: <%= @incident.location %><br>
            Occurred: <%= @incident.time_occurred %><br>
            Request Translator: <%= @incident.request_translator %><br>
            Volunteer Contact Status: <%= @incident.contact_status %><br>
            Preferred Langauge: <%= @incident.language %><br>
            Description:  <%= @incident.description %><br>
      <% else %>
        <li>Report Not Created</li>
      <% end %> 
    </ul>
	
    <%# ### ISSUE: USING @VICTIM %>
<%# <%= link_to "Edit Incident Details", edit_victim_incidents_path(@victim) %>
