<h1> Volunteer: Edit Incident </h1>

<%= form_with model: [@volunteer, @incident] do |form| %>
  <input type="hidden" name="incident[volunteer_id]" value="<%= @volunteer.id %>">

    <%= form.label :location %>
    <%= form.text_field :location %>
    <br>
    <%= form.label :time_occurred %>
    <%= form.datetime_local_field :time_occurred %>
    <br>
    <%= form.label :request_translator %>
    <%= form.select :request_translator, [["YES"], ["NO"]] %>
    <br>
    <%= form.label :contact_status %>
    <%= form.select :contact_status, [["Not Yet Contacted"], ["Contacted Pending"], ["Contacted"], ["Contact Completed"]] %>
    <br>
    <%= form.label :language %>
    <%= form.text_field :language %>
    <br>
    <%= form.label :description %>
    <%= form.text_area :description %>
    <br>
    <%= form.label :notes %>
    <%= form.text_area :notes %>
    <br>
    <br>
    <%= form.submit %>

<% end %>