<h1> All Incidents </h1>

<%= link_to "Not Yet Contacted", not_yet_contacted_incidents_path, class: "link"	  %>
<%= link_to "Sort By Time Occurred", time_occurred_desc_incidents_path, class: "link"	 %>


<% @incidents.each do |incident| %>
          <div>
          <li>
            Incident Number: <%= incident.id %> <br>
            Location: <%= incident.location %><br>
            Occurred: <%= incident.time_occurred %><br>
            Request Translator: <%= incident.request_translator %><br>
            Volunteer Contact Status: <%= incident.contact_status %><br>
            Preferred Langauge: <%= incident.language %><br>
            Description:  <%= incident.description %><br>

            <%= link_to "View Incident", [@victim, incident] %><br>

          </li>
          </div>
<% end %>
