<h1> Incident Details </h1>

Incident Number: <%= @incident.id %> <br>
Location: <%= @incident.location %><br>
Occurred: <%= @incident.time_occurred %><br>
Request Translator: <%= @incident.request_translator %><br>
Volunteer Contact Status: <%= @incident.contact_status %><br>
Preferred Langauge: <%= @incident.language %><br>
Description:  <%= @incident.description %><br>
<br>

<% if @incident.volunteer_id == nil%>
<%#byebug%>
    <%= link_to "Volunteer?", incident_path(@incident, :incident => { :volunteer_id => current_user.id }), :method => :put, :confirm => "Are you sure?" %>
<% elsif @incident.volunteer_id == current_user.id %>
    <%= link_to "Update Incident Details", edit_volunteer_incident_path(@incident) %>
<% end %>

