<h1> Incident Details </h1>

Incident Number: <%= @incident.id %> <br>
Location: <%= @incident.location %><br>
Occurred: <%= @incident.time_occurred %><br>
Request Translator: <%= @incident.request_translator %><br>
Volunteer Contact Status: <%= @incident.contact_status %><br>
Preferred Langauge: <%= @incident.language %><br>
Description:  <%= @incident.description %><br>

<br>

<% if session[:user_type] = 'volunteer' %>
    <%= link_to "Volunteer?", volunteer_incident_path(@incident) %>
<% elsif session[:user_type] = 'victim' %>
    <%= link_to "Edit Incident Details", edit_victim_incident_path%>
<% else %>
    <%= link_to "View All Incidents", incidents_path %><br>
<% end %>

