<h1> Incident Details </h1>

Location: <%= @incident.location %><br>
Occurred: <%= @incident.time_occurred %><br>
Request Translator: <%= @incident.request_translator %><br>
Volunteer Contact Status: <%= @incident.contact_status %><br>
Preferred Langauge: <%= @incident.language %><br>
Description:  <%= @incident.description %><br>

<br>
<%= link_to "View All Incidents", incidents_path %><br>


