<h1>New Volunteer</h1>
<% if @volunteer.errors.any? %>
    <ul>
        <% @volunteer.errors.full_messages.each do |m| %>
            <li class="error"><%= m %></li>
        <% end %>
    </ul>
<% end %>

<%= form_with model: @volunteer do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <br>
    <%= form.label :email %>
    <%= form.text_field :email %>
    <br>
    <%= form.label :password %>
    <%= form.text_field :password %>
    <br>
    <br>
    <%= form.submit %>

<% end %>