<h1>Hello <%= @volunteer.name %></h1>

<h2>Welcome to your profile page.</h2>

<span><strong>Your Email:</strong> <%= @volunteer.email %></span><br>
<span><strong>Your Language:</strong> <%= @volunteer.language %></span><br>

<br>
<br>
<%= link_to "Edit your profile", edit_volunteer_path(@volunteer) %><br>

<h2>Your Volunteered Incidents</h2>
    <ul>
    <% if @volunteer.incidents.present? %>
        <% @volunteer.incidents.each do |incident| %>
          <li>
            Location: <%= incident.location %><br>
            Occurred: <%= incident.time_occurred %><br>
            Request Translator: <%= incident.request_translator %><br>
            Volunteer Contact Status: <%= incident.contact_status %><br>
            Preferred Langauge: <%= incident.language %><br>
            Description:  <%= incident.description %><br>
            Notes:  <%= incident.notes %><br>

            <%# <%= link_to "View Incident", incident_path(incident) %>
            <%= link_to "View Incident", [@volunteer, incident] %><br>

          </li>
        <% end %>
      <% else %>
        <li>No Volunteered Incidents</li>
        <br>
      <% end %> 
    </ul>
<p><%= link_to "View all Incidents", incidents_path %></p> <br>

<p><%= link_to "Delete Your Profile", volunteer_path, method: "delete", data: { confirm: "Are you sure you want to delete your profile?" } %></p>


