<!DOCTYPE html>
<html>
  <head>
    <title>ReportHate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <nav>
          <% if logged_in? %>
            <% if is_volunteer? %>
              <%= link_to "Home", volunteer_path(@current_user) %> |
              <%= link_to "Incidents", incidents_path %> |
              <% end %>
            <% if is_victim? %>
              <%= link_to "Home", victim_path(@current_user) %> |
              <%= link_to "New Incident", new_victim_incident_path(@victim) %> |
            <% end %>
            <a href="/logout">Log Out</a>
          <% else %>
            <%= link_to "Log In", login_path %>
             |
            <%= link_to "Sign Up", root_path %>
          <% end %>
        </nav>

        <div id="content">
          <% flash.each do |name, message| %>
            <div class=<%= name %>>
              <%= message %>
            </div>
          <% end %>

        <%= yield %>

        <div class="footer">
        <br>
        <p>Report Hate @2021</p>
        </div>
  </body>
</html>
