<!DOCTYPE html>
<html>
  <head>
    <title>Reporthate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <nav>
          <% if logged_in? %>
            <% if is_volunteer? %>
              <%= link_to "Home", volunteer_path(@current_user) %> |
            <% end %>
            <% if is_needy? %>
              <%= link_to "Home", victim_path(@current_user) %> |
            <% end %>
            <a href="/logout">Log Out</a>
          <% else %>
            <%= link_to "Log In", login_path %>
             |
            <%= link_to "Sign Up", root_path %>
          <% end %>
        </nav>


  </body>
</html>
